NEXT_PUBLIC_SITE_URL=https://connect-four-xps4.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_lvtjsndp
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xf5170B336144535038c1602c1058F416c3299942
